.header-workspace{
    display: grid;
    grid-template-columns: repeat(2, auto) 1fr repeat(2, auto);
    grid-template-rows: auto;
    align-items: center;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    margin-left: 0.45em;
    
    > * {
        margin: 0;
        padding: 0;
    }

    .hover-back{
        // margin-right: 0.8em;
        display: flex;
        align-items: center;
        justify-content: center; 
        cursor: pointer;
        padding: 0.55em;
        border-radius: 0.3em;

        .menu{
            transition: color 0.3s;
        }

        
        &:hover{
            background-color: $clr7;
            
        }
    }

    .flower{
        margin-left: 0.2em;
        margin-right: 0.2em;
    }

    h1 {
        font-size: 0.9rem; 
        letter-spacing: -0.2px;
        color: $clr16;
     
        .bold{
            font-weight: 700;
        }
        .light{
            font-weight: 300;
        }
    }

    .conected-user{

        .user{
            display: flex;
            justify-content: center;
            align-content: center;
            all: unset;
            width: 24px;
            height: 24px;
            border-radius: 50%;
            background-color: rgb(253, 171, 61);
            padding: 0.2em;

            h1{
                align-self: center;
                margin: 0;
            }
        }
    }
}

    

    // .user-info {
    //     // background-color: $clr2;
    //     // padding: 2px 8px;
    //     padding-left: 100px;
    //     color: $clr1;

    //     .score {
    //         background-color: $clr2;
    //         color: $clr6;
    //         padding: 8px;
    //         margin: 10px;
    //         border-radius: 50%;
    //     }

    //     img {
    //         width: 32px;
    //         height: 32px;
    //         border-radius: 50%;
    //         object-fit: cover;
    //     }
    // }

    // .user-info .btn-link {
    //     color: $clr2;
    // }

