
.board-card {
    all: unset;
    border: 1px solid #e0e0e0;
    border-radius: $border-radius;
    transition: box-shadow 0.3s ease-in-out;
    overflow: hidden;
    height: fit-content;
    margin: 0;
    padding: 0;

    &:hover {
        box-shadow: 0px 6px 20px rgba(0,0,0,0.2);
    }

    a {
        all:unset;
        cursor: pointer;
        display: grid;
        grid-template-rows: 1fr repeat(2, 2rem);
        grid-template-columns: auto;
        align-items: center;
        margin: 0.6rem;
        
        .card-image {
            grid-area: 1 / 1 / 1 / 3;
            margin-bottom: 0.6rem;
            border-radius: $border-radius;
        }

        .title-card{
            grid-area: 2 / 1 / 2 / 3;
            display: flex;
            align-items: center;
            align-content: center;
            margin: 0;
            padding: 0;
            
            .board-title {
                font-size: 1rem;
                margin-left: 0.3rem;
                h1{
                    margin: 0;
                    padding: 0;
                }
            }

            .hover-back{
                margin-left: auto;
                display: flex;
                align-items: center;
                justify-content: center; 
                cursor: pointer;
                padding: 0.3em;
                border-radius: 0.3em;

                .star-icon{
                    border-radius: 0.3em;
                }

                &:hover{
                    background-color: $clr7;
                }
    
            }

        }
    
        .board-num-of-groups {
            grid-area: 3 / 1 / 3 / 3;
            font-size: 0.8rem;
            font-weight: 200;
            color: #555;

            h1{
                margin: 0;
                padding: 0;
            }

        }
    }
   

}

