
.board-index-header{
    padding-block-start: 1em;

    .head-title {
        color: $clr2;
        input{
            // font-size: 20pt;
            border: 1px solid transparent;
            font-size: 32px;
            font-weight: 600;

            &:focus {
                background-color: $clr10;
                border: 1px solid $clr1;
                outline: none;
            }
        }

        p {
            font-family: $font-txt;
            color: #676879;
            font-size: 11pt;
            font-size: 14px;
            margin-left: 0.2rem;
            margin-block-end: 0.6em;
        }
    }

    
    .board-data-display{
        display: flex;
        align-items: center;
        border-block-end: 1px solid $clr11;

        .selected-tab { 
            border-block-end: 2px solid $clr1;
            padding-block-end: 4px;

            .main-table-tab {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0.3em 0 0.3em 0.3em;
    
                &:hover {
                    background-color: $clr15;
                    border-radius: $border-radius;
                }
    
                span {
                    padding-inline: 0.5em 1em;
                    font-size: 11pt;
                    border-inline-end: 1px solid $clr11;
                }
            }

        }

        
        .plus-btn {
            color: $clr2;
            margin: 0;
            border-radius: $border-radius;
            width: 35px;
            height: 34px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0;
            background-color: transparent;
            margin-block-end: 5px;

            &:hover {
                background-color: $clr15;
            }
        }

        h1{
            font-weight: 500;
        }
    }


    .board-actions{
        .addition-actions{
            display: grid;
            grid-template-columns: auto auto;
            padding: 1em 0;
            justify-content: start;
            
            :hover{
                background-color: $clr9;
            }
            
            .add-task{
                border-radius: 0.3em 0 0 0.3em;
                margin: 0;
                font-family: $font-txt;
                font-size: 10pt;
                padding: 0.4em 0.5em;
                border-right: 1px solid $clr9;

            }
            .add-group{
                border-radius: 0 0.3em 0.3em 0;
                margin: 0;
                display: flex;
                align-items: center;
                justify-items: center;
                padding-inline: 0.3em;
            }
        }
    }
}

