
.board-index-header{

    // padding-block-start: 1em;

    .head-title {
        color: $clr2;
        input{
            // font-size: 20pt;
            border: 1px solid transparent;
            font-size: 33px;
            font-weight: 500;
            color: $clr2;

            &:focus {
                background-color: $clr10;
                border: 1px solid $clr1;
                outline: none;
            }
        }
    }

    
    .board-data-display{
        margin-top: 0.5em;
        display: flex;
        align-items: center;
        border-block-end: 1px solid $clr11;

        .selected-tab { 
            border-block-end: 2px solid $clr1;
            padding-block-end: 2px;

            .main-table-tab {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0.3em 0 0.3em 0.4em;
    
                &:hover {
                    background-color: $clr17;
                    border-radius: $border-radius;
                }
    
                span {
                    padding-inline: 0.5em 1em;
                    // font-size: 11pt;
                    font-size: 14px;
                    border-inline-end: 1px solid $clr11;
                }
            }

        }

        
        .plus-btn {
            color: $clr2;
            margin: 0;
            border-radius: $border-radius;
            width: 34px;
            height: 32px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0;
            background-color: transparent;
            margin-block-end: 5px;

            &:hover {
                background-color: $clr17;
            }

            & > span {
                font-family: $font-txt;
                font-size: 18px;
            }
        }

        h1{
            font-weight: 500;
        }
    }


    .board-actions{
        .addition-actions{
            display: grid;
            grid-template-columns: auto auto;
            padding: 0.85em 0;
            justify-content: start;
            position: relative;
            
            :hover{
                background-color: $clr9;
            }
            
            .add-task{
                border-radius: 0.3em 0 0 0.3em;
                margin: 0;
                font-family: $font-txt;
                // font-size: 10pt;
                font-size: 14px;
                padding: 0.5em 0.55em;
                border-right: 1px solid $clr9;

            }
            .add-group{
                border-radius: 0 0.3em 0.3em 0;
                margin: 0;
                display: flex;
                align-items: center;
                justify-items: center;
                padding-inline: 0.35em;
                position: relative;

            }

            .set-board-options {
                position: absolute;
                display: grid;
                grid-template-rows: repeat(auto);
                border-radius: 7px;
                box-shadow: 0 4px 17px 6px rgba(0, 0, 0, 0.1);
                background-color: #ffffff;
                width: 12em;
                z-index: 5;
                padding: 8px;
                top: 2.8em;
                left: 4em;

                .update-board {
                    border-radius: $border-radius;
                }

                .svg-title{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    cursor: pointer;
                    padding: 0.3em;
                    border-radius: $border-radius;
    
                    h1{
                        all: unset;
                        font-size: 14px;
                        margin-left: 0.8em;
                      }
                }
        
                :hover{
                    background-color: $clr17; 
                }
              }
        }
    }

}

