
.dynamic-cmp {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $clr10;
    cursor: pointer;
    position: relative;
    transition: opacity 0.3s ease;
    // border-bottom: 1px solid $clr3;


    .fold {
        width: 0px;
        height: 0px;
        position: absolute;
        top: 0px;
        right: 0px;
        border-width: 0;
        border-style: solid;
        display:block;
        border-radius:3px 0 0 0;

        border-color:transparent $clr3 transparent $clr3;
       
        -webkit-transition: border-width 0.2s ease-out;
        -moz-transition: border-width 0.2s ease-out;
        -ms-transition: border-width 0.2s ease-out;
        -o-transition: border-width 0.2s ease-out;
        transition: border-width 0.2s ease-out;
     }

    &:hover .fold {
        border-width: 0 10px 10px 0;
    }
     
    .defult-person-img {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        box-shadow: 0px 0px 4px 0px $clr11;
        border-radius: 50%;
        box-shadow: 0px 0px 4px 0px $clr11;
    }

    .selected-label{
        font-weight: normal;
        margin: 0;
        padding: 0;
        font-family: $font-txt;
    }

    .status-model{
        z-index: 100;
        background-color: $primary-background-color;
        list-style: none;
        width: 220px;
        border-radius: 8px;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,.32);
        font-size: 14px;
        pointer-events: all;
        padding: 8px;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%) translateY(4px);

        .status-picker-content{
            transition: height .15s ease;
            padding: 16px 16px 8px;
            overflow-x: auto;
            overflow-y: hidden;

            .items-container{
                all: unset;

                > * {
                    width: 130px;
                    color: $primary-background-color;
                    
                    cursor: pointer;
                    transition: transform .1s ease-in-out, opacity .1s ease-in-out;
                    margin-bottom: 8px;
                    line-height: 32px;
                    text-align: center;
                    border-radius: 2px;
    
                    &:hover {
                        opacity: .7;
                    }
                }
            }

            .selected-users{
                all: unset;
                
                .remove-user-btn{
                    all: unset;
                    background-color: aqua;
                    border-radius: 50%;
                }

            }

            .people-items-container {
                all: unset;

                //for open modal
                //for open modal
                .people-item {
                    width: 170px;
                    color: $clr2;
                    cursor: pointer;
                    transition: transform .1s ease-in-out, opacity .1s ease-in-out;
                    margin-bottom: 8px;
                    line-height: 32px;
                    border-radius: 2px;
                    display: flex;
                    align-items: center;
                    justify-content: left;
                    padding-inline: 0.5em;
                    
                    &:hover {
                        background-color: $clr17;
                    }
                }

                .choose-person-img {
                    width: 24px;
                    height: 24px;
                    border-radius: 50%;
                    margin-inline-end: 1em;
                }

                .choose-person {
                    width: 24px;
                    height: 24px;
                    border-radius: 50%;
                    margin-inline-end: 1em;
                    background-color: rgb(162, 93, 220);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: white;
                }
            }
        }

        .status-picker-footer{
            padding: 0 8px 2px 8px;

            .horizontal-divider {
                background-color: $clr11;
                height: 0.5px;
                width: 100%;
                margin: 0 0 8px 0;
            }

            .status-picker-footer-btn {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0;
                background-color: transparent;
                color: $clr2;
                height: 32px;
                border-radius: 2px;
                font-family: $font-txt;
                
                &:hover {
                 background-color: $primary-background-hover-color;  
                }

                & > svg {
                    margin-inline-end: 0.5em;
                }
            }
        }
    }

    .status-model::before {
        content: "";
        position: absolute;
        top: -5px;
        left: 50%;
        transform: translateX(-50%) rotate(45deg); 
        width: 15px;
        height: 15px;
        background-color: $primary-background-color;
        z-index: -1; 
    }

    .people-cmp {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;

        // .person-img {
        //     width: 24px;
        //     height: 24px;
        //     border-radius: 50%;
        //     background-color: rgb(162, 93, 220);
        //     display: flex;
        //     align-items: center;
        //     justify-content: center;
        //     box-sizing: content-box;
        //     box-shadow: 0px 0px 4px 0px $clr18;
        // }

        .person-img {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            box-sizing: content-box;
            
            .user-circle {
                width: 24px;
                height: 24px;
                border-radius: 50%;
                background-color: rgb(162, 93, 220);
                box-shadow: 0px 0px 4px 0px $clr18;
                margin-right: -2px;
                color: white;
        
                &.additional {
                    background-color: #000000;
                }
            }
        }

        .pople-pluse-icon {
            position: absolute;
            left: 1.5em;
            opacity: 0;
            background-color: $clr1;
            border-radius: 50%;
            width: 1em;
            height: 1em;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 14px;
            font-weight: 600;
            padding-bottom: 1px;
        }

        &:hover{
            .pople-pluse-icon {
                opacity: 1;
            }
        }

    }



    .people-title {
        color: $clr18;
        text-align: left;
        margin-bottom: 0.5em;
        padding-inline: 0.5em;
    }



}







    // .status-model::before {
    //     margin: 0;
    //     padding: 0;
    //     content: "";
    //     rotate: 180deg;
    //     position: absolute;
    //     bottom: 100%;
    //     left: 40%;
    //     border-width: 10px;
    //     border-style: solid;
    //     border-color: transparent transparent $primary-background-color transparent;
    // }


    // font-size: 14px;
    // overflow: hidden;
    // text-overflow: ellipsis;
    // white-space: nowrap;
    // }





// .status-cmp {
//     height: 100%;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     color: $clr10;

//     overflow: hidden;
//     text-overflow: ellipsis;
//     white-space: nowrap;
//     cursor: pointer;

//     .status-model {
//         position: relative;
//         position: fixed;
//         // all: unset;
//         background-color: $primary-background-color;
//         // border: 1px solid black;

//         list-style: none;
//         max-width: 416px;
//         /* display: flex; */
//         justify-content: center;
//         border-radius: 8px;
//         /* background-color: var(--secondary-background-color); */
//         color: $clr2;
//         /* box-shadow: 0 4px 17px 6px rgba(0,0,0,.1); */
//         box-shadow: 0 8px 16px 0 rgba(0,0,0,.32);
//         font-size: 14px;
//         transition: width .1s;
//         pointer-events: all;
//         padding: 8px;
//         z-index: 1;

//         inset: 0px auto auto 0px;
//         transform: translate3d(839.167px, 412.167px, 0px);

//         .status-picker-content {
//             // margin-top: 8px;
//             transition: height .15s ease;
//             padding: 16px 16px 8px;
//             /* display: grid; */
//             /* grid-auto-flow: column; */
//             overflow-x: auto;
//             overflow-y: hidden;

//             .items-container {
//                 position: relative;
//                 all: unset;
//                 /* list-style: none; */
//                 // grid-template-rows: repeat(5, auto);
//                 // grid-row-gap: 8px;
//                 // display: grid;

//                > * {
//                 width: 130px;
//                 color: $primary-background-color;
//                 font-weight: 400;
//                 cursor: pointer;
//                 transition: transform .1s ease-in-out, opacity .1s ease-in-out;
//                 margin-bottom: 8px;
//                 /* height: 32px; */
//                 line-height: 32px;
//                 text-align: center;
//                 border-radius: 2px;

//                 &:hover {
//                     opacity: .85;
//                 }
//                 }
//             }
//         }

//         .status-picker-footer {
//             /* flex: 0 0 auto; */
//             // display: flex;
//             // justify-content: center;
//             // align-items: center;
//             /* flex-direction: column; */
//             // padding: 0 16px 8px 16px;
//             padding: 0 8px 2px 8px;

            
//             .horizontal-divider {
//                 background-color: $clr11;
//                 height: 1px;
//                 width: 100%;
//                 margin: 0 0 8px 0;
//             }

//             .status-picker-footer-btn {
//                 width: 100%;
//                 display: flex;
//                 justify-content: center;
//                 align-items: center;
//                 margin: 0;
//                 background-color: transparent;
//                 color: $clr2;
//                 height: 32px;
//                 border-radius: 2px;
//                 /* line-height: 24px; */
//                 font-family: $font-txt;
                
//                 &:hover {
//                  background-color: $primary-background-hover-color;  
//                 }

//                 & > svg {
//                     margin-inline-end: 0.5em;
//                 }
//             }
//         }
//     }
// }









