// shared for group-title & input for change it
.text-style{ 
    font-weight: 500;
    margin-inline-start: 0.4em;
    margin-block: 0.65em;
    font-size: 18px;
    font-family: $font-title;
}

.group-preview {
    margin-inline-start: 2em;
    margin-block-end: 1.5em;
    position: relative;
    
    .tasks-table {
        // border-inline-start: 7px solid #F1F879;
        border-start-start-radius: 6px;
    }

    .sticky-header {
        background-color: #ffffff;
        position: sticky;
        top: 10.5em;
        z-index: 3;
        padding-bottom: 2px;
    

        .group-header{
            position: relative;
            display: flex;
            justify-content: left;
            align-items: center;
            margin-inline-start: 0.5em;
            background-color: #ffffff;

            .delete-btn {
                width: 23px;
                color: $clr2;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0;
                margin-block: 0.6em;
                margin-inline-start: -37px;
                border-radius: $border-radius;
                background-color: $clr10;
                opacity: 0;
                
                &:hover {
                    background-color: $clr15;
                    opacity: 1;
                }
            }

            .set-board-options {
                position: absolute;
                width: 264px;
                display: grid;
                grid-template-rows: repeat(auto);
                // bottom: 3.7em;
                bottom: -2.3em;
                left: -1em;
                border-radius: $border-radius;
                box-shadow: 0 4px 17px 6px rgba(0,0,0,.1);
                background-color:$clr10;
                width: 12em;
                z-index: 5;
                padding: 8px;

                .svg-title{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    cursor: pointer;
                    padding: 0.3em;
                    border-radius: $border-radius;

                    h1{
                        all: unset;
                        font-size: 14px;
                        margin-left: 0.8em;
                    }
                }
        
                :hover{
                    background-color: $clr17; 
                }
            }

            
            
            .expansion-btn {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-inline-start: 0.75em;
                cursor: pointer;
            }

            // .collapse-group {
            //     color: $clr13;
            //     transition: transform .2s;
            //     margin-inline: 0.5em;
            // }

            .group-title-div {
                color: rgb(196, 196, 196);
                font-family: $font-title;
                font-weight: 500;
                border: 1px solid $clr11;
                padding: 0px 6px;
                font-size: 18px;
                margin-block: 5px;
                border-radius: $border-radius;
                margin-inline-start: 0.2em;
                width: 70%;
                display: flex;
                align-items: center;
                position: sticky;
                bottom:  0;
                z-index: 6;

                .group-color-div {
                    width: 16px;
                    height: 16px;
                    border-radius: 4px;
                    cursor: pointer;
                }


                .model-change-color {
                    background-color: #ffffff;
                    position: absolute;
                    top: 2.5em;
                    padding: 1em;
                    border-radius: 8px;
                    display: grid;
                    grid-template-columns: repeat(4, auto);
                    gap: 8px;
                    box-shadow: 0px 7px 20px rgb(81 81 81 / 20%);
                    z-index: 3;

                    
                    * {
                        width: 24px;
                        height: 24px;
                        border-radius: 5px;
                        cursor: pointer;

                        &:hover {
                            opacity: 0.7;
                        }
                    }
                }

                .group-title-input {
                    font-family:  $font-title;
                    font-weight: 500;
                    border: none;
                    padding: 2px 6px;
                    font-size: 18px;
                    margin-inline-start: 0.2em;
                    
                }
            }
            
            .blue-input {
                border-color: $clr1;
            }
            

            .group-title-h3 {
                all: unset;
                font-family: $font-title;
                font-weight: 500;
                color: rgb(196, 196, 196);
                border: 1px solid transparent;
                padding: 6px 6px;
                font-size: 18px;
                line-height: 1;
                margin-block: 5px;
                border-radius: $border-radius;
                margin-inline-start: 0.2em;
                cursor: pointer;

                &:hover {
                    border: 1px solid $clr11;
                }
            }

        }
    }

    .group-header:hover > * {
        opacity: 1;
    }

    .tasks-header {
        // position: sticky;
        // left: 12;
        display: grid;
        z-index: 3;
        grid-template-columns: 325px auto 1fr;
        overflow: auto;
        // text-align: center;
        color: $clr2;
        border-block-start: 1px solid $clr11;
        border-block-end: 1px solid $clr11;
        height: 35px;
        // padding: 0;
        box-sizing: content-box;
        background-color: $clr10;
        position: sticky;
        z-index: 2;
        // top: 12.8em;
        top: 233px;
        
        > * {
            
            border-inline-end: 1px solid $clr11;
            // align-self: center;
            // height: 100%;
            // line-height: 2;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        h4 {
            font-size: 14px;
            font-weight: 400;
            font-family: $font-txt;
            margin: 0;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .group-column-div {
            display: grid;
            grid-auto-flow: column;
    
            & > * {
                width: 140px;
                border-inline-end: 1px solid $clr11;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            > :last-child {
                border-inline-end: none;
            }
        }

        


        & > :last-child {
            border-inline-end: none;
            margin-inline-start: 0.3em;
            width: 32px;

            .add-column-btn {
                color: $clr18;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: $border-radius;
                padding: 0.2em;
                
                &:hover {
                    background-color: $clr17;
                }
            }


          }

    }


    .new-input {
        width: 300px;
        margin-inline-start: 1em;
        padding-inline: 1em;
        margin-block: 0.4em;
        border: 1px solid transparent;
        // border: 1px solid #C5C8D5;
        border-radius: $border-radius;
        font-family: $font-txt;
        font-size: 14px;
        // color: #898A97;
        //  color: $clr2;
         color: $clr18;
         background-color: transparent;
         position: sticky;

        &::placeholder {
            font-family: $font-txt;
            // color: #898A97;
            // color: $clr2;
            color: $clr18;
            
            
       }

        // &:hover {
        //     border: 1px solid #C5C8D5; 
        //     background-color: transparent;
        // }

        &:focus {
            border: 1.5px solid $clr1;
            outline: none; 
            // background-color: $clr1WithAlpha;
            background-color: white;
        }

        .group-title{
            height: 20px;
        }
    }


    .group-footer {
        padding: 0;
        display: block;

        .footer-new-task {
            border-inline-start: 7px solid $clr11;
            border-end-start-radius: 7px;
            border-start-start-radius: 0px;
            border-inline-start: 6px solid; 
            display: grid;
            grid-template-columns: 325px 1fr;
            height: 35px;
            border-block-end: 1px solid #d0d4e4;

            &:hover {
                z-index: 3;
                box-shadow: 4px 3px 6px -3px $clr11;
                background-color: $clr12;

                .new-input{
                    // background-color: #F4F5F8; 
                    // background-color: transparent; 
                    border: 1px solid #C5C8D5; 
                }
            }

            & > * {    
                // border-block-end: 1px solid $clr11;
            }

            .footer-div-input {
                margin-bottom: 8em;
                height: 35px;
                display: flex;
                align-items: center;
                box-shadow:  0 8px 8px -8px rgba(0, 0, 0, 0.1);
                box-sizing: content-box;
                // border-block-end: 1px solid $clr11;
            }

        }

        .footer-stasus {
            // border-block-start: 1px solid $clr11;
            display: grid;
            grid-template-columns: 330px auto 1fr;
            text-align: center;
            color: $clr2;
            height: 35px;
            padding: 0;
            font-family: $font-txt;

            > * {
                height: 100%;
                width: 100%;
            }

            .footer-summary {
                border-block-end: 1px solid $clr11;
                display: grid;
                grid-auto-flow: column;
                box-shadow:  0 8px 8px -8px rgba(0, 0, 0, 0.1);

                & > * {
                    width: 140px;
                    border-inline-end: 1px solid $clr11;
                }

            }

            & > :last-child {
                border-block-end: 1px solid $clr11;
                box-shadow:  0 8px 8px -8px rgba(0, 0, 0, 0.1);
            }

            > :nth-child(2) {
                border-inline-start: 1px solid $clr11;
                border-end-start-radius: 10px;
            }

        }

    }

}








            
.group-unpreview {
    display: grid;
    grid-template-columns: 325px auto 1fr;
    color: $clr2;
    border-block-start: 1px solid $clr11;
    border-block-end: 1px solid $clr11;
    border-inline-start: 1px solid $clr11;
    box-sizing: content-box;
    position: sticky;
    top: 0;
    background-color: $clr10;
    z-index: 1;
    border-start-start-radius: 6px;
    border-end-start-radius: 6px;
    margin-block-end: 1em;
    margin-inline-start: 2em;

    .task-header-unpreview {
        display: grid;
        grid-template-rows: auto 1fr;
        justify-content: left;
        margin-inline-start: 0.5em;
        align-items: center;
        border-inline-end: 1px solid $clr11;
        
        .task-title {
            display: flex;

            .expansion-btn {
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;

                svg {
                    transform-origin: center center;
                    transform: rotate(270deg);
                    transition: transform .2s;
                }
            }

            h3 {
                all: unset;
                font-family: $font-title;
                font-weight: 500;
                color: rgb(196, 196, 196);
                border: 1px solid transparent;
                padding: 6px 6px;
                font-size: 18px;
                line-height: 1;
                margin-block: 5px;
                border-radius: $border-radius;
                margin-inline-start: 0.2em;
                cursor: pointer;

                &:hover {
                    border: 1px solid $clr11;
                }
            }

            .group-title-div {
                color: rgb(196, 196, 196);
                font-family: $font-title;
                font-weight: 500;
                border: 1px solid $clr11;
                padding: 0px 6px;
                font-size: 18px;
                margin-block: 5px;
                border-radius: $border-radius;
                margin-inline-start: 0.2em;
                width: 70%;
                display: flex;
                align-items: center;
                z-index: 5;

                .group-color-div {
                    width: 16px;
                    height: 16px;
                    border-radius: 4px;
                    cursor: pointer;
                }
    
    
                .model-change-color {
                    z-index: 5;
                    background-color: #ffffff;
                    position: absolute;
                    top: 2.5em;
                    padding: 1em;
                    border-radius: 8px;
                    display: grid;
                    grid-template-columns: repeat(4, auto);
                    gap: 8px;
                    box-shadow: 0px 7px 20px rgb(81 81 81 / 20%);
                   
    
                    
                    * {
                        width: 24px;
                        height: 24px;
                        border-radius: 5px;
                        cursor: pointer;
    
                        &:hover {
                            opacity: 0.7;
                        }
                    }
                }
    
                .group-title-input {
                    font-family:  $font-title;
                    font-weight: 500;
                    border: none;
                    padding: 2px 6px;
                    font-size: 18px;
                    margin-inline-start: 0.2em;
                    
                }
            }
            
            .blue-input {
                border-color: $clr1;
            }
        }

            span {
                white-space: nowrap;
                font-size: 14px;
                color: $clr18;
                font-family: $font-txt;
                margin-inline-start: 2em;
                margin-block-start: -5px;
            }
        
    }


    .group-column-div {
        display: grid;
        grid-auto-flow: column;
        border-inline-end: 1px solid #d0d4e4;

        & > * {
            width: 140px;
            border-inline-end: 1px solid $clr11;
            height: 100%;
            justify-content: center;
            display: grid;
            grid-template-rows: auto 1fr;

            h4 {
                padding: 0.5em;
                font-size: 14px;
                font-weight: 400;
                font-family: $font-txt;
                margin: 0;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                text-align: center;
            }

            .summery-div {
                width: 140px;
            }
        }

        > :last-child {
            border-inline-end: none;
        }
    }
}



