// shared for group-title & input for change it
.text-style{ 
    font-weight: 500;
    margin-inline-start: 0.4em;
    margin-block: 0.65em;
    font-size: 18px;
    font-family: $font-title;
}

.group-preview {
    margin-block-end: 1.5em;
    position: relative;
    
    .tasks-table {
        // border-inline-start: 7px solid #F1F879;
        border-start-start-radius: 6px;
    }

    .group-header{
        display: flex;
        justify-content: left;
        align-items: center;
        margin-inline-start: 0.5em;

        .delete-btn {
            width: 23px;
            color: $clr2;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0;
            margin-block: 0.6em;
            margin-inline-start: -37px;
            border-radius: $border-radius;
            background-color: $clr10;
            opacity: 0;
            
            &:hover {
                background-color: $clr15;
                opacity: 1;
            }
        }

        .set-board-options {
            position: absolute;
            width: 264px;
            display: grid;
            grid-template-rows: repeat(auto);
            bottom: 5.7em;
            left: -1em;
            border-radius: $border-radius;
            box-shadow: 0 4px 17px 6px rgba(0,0,0,.1);
            background-color:$clr10;
            width: 12em;
            z-index: 5;
            padding: 8px;

            .svg-title{
                display: flex;
                flex-direction: row;
                align-items: center;
                cursor: pointer;
                padding: 0.3em;
                border-radius: $border-radius;

                h1{
                    all: unset;
                    font-size: 14px;
                    margin-left: 0.8em;
                  }
            }
    
            :hover{
                background-color: $clr17; 
            }
          }

        
        
        .expansion-btn {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-inline-start: 0.75em;
        }

        .collapse-group {
            color: $clr13;
            transition: transform .2s;
            margin-inline: 0.5em;
        }

        .group-title {
            font-weight: 500;
            margin-inline-start: 0.5em;
        }
    }

    .group-header:hover > * {
        opacity: 1;
    }

    .tasks-header {
        display: grid;
        grid-template-columns: 325px auto 1fr;
        overflow: auto;
        // text-align: center;
        color: $clr2;
        border-block-start: 1px solid $clr11;
        border-block-end: 1px solid $clr11;
        height: 35px;
        // padding: 0;
        box-sizing: content-box;
        position: sticky;
        top: 0;
        background-color: $clr10;
        z-index: 1;
        
        > * {
            
            border-inline-end: 1px solid $clr11;
            // align-self: center;
            // height: 100%;
            // line-height: 2;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        h4 {
            font-size: 14px;
            font-weight: 400;
            font-family: $font-txt;
            margin: 0;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .group-column-div {
            display: grid;
            grid-auto-flow: column;
    
            & > * {
                width: 140px;
                border-inline-end: 1px solid $clr11;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            > :last-child {
                border-inline-end: none;
            }
        }

        


        & > :last-child {
            border-inline-end: none;
            margin-inline-start: 0.3em;
            width: 32px;

            .add-column-btn {
                color: $clr18;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: $border-radius;
                padding: 0.2em;
                
                &:hover {
                    background-color: $clr17;
                }
            }


          }

    }


    .new-input {
        width: 300px;
        margin-inline-start: 1em;
        padding-inline: 1em;
        margin-block: 0.4em;
        border: 1px solid transparent;
        // border: 1px solid #C5C8D5;
        border-radius: $border-radius;
        font-family: $font-txt;
        font-size: 14px;
        // color: #898A97;
        //  color: $clr2;
         color: $clr18;
         background-color: transparent;
         position: sticky;

        &::placeholder {
            font-family: $font-txt;
            // color: #898A97;
            // color: $clr2;
            color: $clr18;
            
            
       }

        // &:hover {
        //     border: 1px solid #C5C8D5; 
        //     background-color: transparent;
        // }

        &:focus {
            border: 1.5px solid $clr1;
            outline: none; 
            // background-color: $clr1WithAlpha;
            background-color: white;
        }

        .group-title{
            height: 20px;
        }
    }


    .group-footer {
        padding: 0;
        display: block;

        .footer-new-task {
            border-inline-start: 7px solid $clr11;
            border-end-start-radius: 7px;
            border-start-start-radius: 0px;
            border-inline-start: 7px solid; 
            display: grid;
            grid-template-columns: 325px 1fr;
            height: 35px;

            &:hover {
                z-index: 3;
                box-shadow: 4px 3px 6px -3px $clr11;
                background-color: $clr12;

                .new-input{
                    // background-color: #F4F5F8; 
                    // background-color: transparent; 
                    border: 1px solid #C5C8D5; 
                }
            }

            & > * {    
                border-block-end: 1px solid $clr11;
            }

            .footer-div-input {
                border-block-end: 1px solid $clr11;
                height: 35px;
                display: flex;
                align-items: center;
                box-shadow:  0 8px 8px -8px rgba(0, 0, 0, 0.1);
                box-sizing: content-box;
            }

        }

        .footer-stasus {
            display: grid;
            grid-template-columns: 330px auto 1fr;
            text-align: center;
            color: $clr2;
            height: 35px;
            padding: 0;
            font-family: $font-txt;

            > * {
                height: 100%;
                width: 100%;
            }

            .footer-summary {
                border-block-end: 1px solid $clr11;
                display: grid;
                grid-auto-flow: column;
                box-shadow:  0 8px 8px -8px rgba(0, 0, 0, 0.1);

                & > * {
                    width: 140px;
                    border-inline-end: 1px solid $clr11;
                }

            }

            & > :last-child {
                border-block-end: 1px solid $clr11;
                box-shadow:  0 8px 8px -8px rgba(0, 0, 0, 0.1);
            }

            > :nth-child(2) {
                border-inline-start: 1px solid $clr11;
                border-end-start-radius: 10px;
            }

        }

    }

}



.group-unpreview {
    background-color: aqua;

    .group-header{
        .collapse-group {
            color: $clr13;
            transition: transform .2s;
            margin-inline: 0.5em;
        }

        h3 {
            font-weight: 500;
            color: $clr13;
            display: inline-block;
        }

    }
}





        // taken by - .tasks-header
        // border-left: none;
        // border-right: none;
        // border-start-start-radius: 8px;
        // display: flex;
        // list-style-type: none;
        // margin: 0;
        // min-height: 35px;
        // padding: 0;
        // position: -webkit-sticky;
        // position: sticky;
        // top: 202px;
        // z-index: 2;


                    // .new-input {
            //     width: 320px;
            //     margin-inline-start: 1em;
            //     padding-inline: 1em;
            //     margin-block: 0.4em;
            //     border: 1px solid transparent;
            //     border-radius: $border-radius;
            //     font-family: $font-txt;

            //     &::placeholder {
            //         font-family: $font-txt;
            //    }

            //     &:hover {
            //         border: 1px solid #e2e2e2; 
            //     }

            //     &:focus {
            //         border: 1px solid $clr1;
            //         outline: none; 
            //         // background-color: $clr1WithAlpha;
            //         background-color: white;
            //     }
            // }