.side-navigation{
    display: grid;
    grid-template-rows: repeat(4, 2rem);
    background-color: #ffffff;
    padding-left: 1em;
    border-start-end-radius: 10px;
    height: 100%;
    font-family: $font-txt;
}

.sidenav-home {
    display: block;
    
    // justify-content: flex-start;

    img {       
        width: 18px;
        height: 18px;
        margin-right: 1rem;
    }
}

.sidenav-home:hover {
    background-color: rgb(218, 234, 236);
}

.sidenav-search {
    height:20px;

    img {
        width:18px;
        height:18px;
    }
}