
.status-cmp {
    // background-color: transparent;
    // background-color: burlywood;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $clr10;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    // & > span {
        // display: flex;
        // align-items: center;
        // justify-content: center;

    //הגדרות כלליות להכניס לטקסט בטבלה!!!!
    // font-size: 14px;
    // overflow: hidden;
    // text-overflow: ellipsis;
    // white-space: nowrap;
    // }

    .status-model {
        // all: unset;
        background-color: $primary-background-color;
        position: fixed;
        // border: 1px solid black;

        list-style: none;
        max-width: 416px;
        /* display: flex; */
        justify-content: center;
        border-radius: 8px;
        /* background-color: var(--secondary-background-color); */
        color: $clr2;
        /* box-shadow: 0 4px 17px 6px rgba(0,0,0,.1); */
        box-shadow: 0 8px 16px 0 rgba(0,0,0,.32);
        font-size: 14px;
        transition: width .1s;
        pointer-events: all;
        padding: 8px;
        z-index: 1;

        position: absolute;
        inset: 0px auto auto 0px;
        transform: translate3d(839.167px, 412.167px, 0px);

        .status-picker-content {
            // margin-top: 8px;
            transition: height .15s ease;
            padding: 16px 16px 8px;
            /* display: grid; */
            /* grid-auto-flow: column; */
            overflow-x: auto;
            overflow-y: hidden;

            ul {
                all: unset;
                /* list-style: none; */
                // grid-template-rows: repeat(5, auto);
                // grid-row-gap: 8px;
                // display: grid;

               > * {
                width: 152px;
                color: $primary-background-color;
                font-weight: 400;
                cursor: pointer;
                transition: transform .1s ease-in-out, opacity .1s ease-in-out;
                margin-bottom: 8px;
                /* height: 32px; */
                line-height: 32px;
                text-align: center;
                border-radius: 2px;

                &:hover {
                    opacity: .85;
                }
                }
            }
        }

        .status-picker-footer {
            /* flex: 0 0 auto; */
            // display: flex;
            // justify-content: center;
            // align-items: center;
            /* flex-direction: column; */
            // padding: 0 16px 8px 16px;
            padding: 0 8px 2px 8px;

            
            .horizontal-divider {
                background-color: $clr11;
                height: 1px;
                width: 100%;
                margin: 0 0 8px 0;
            }

            .status-picker-footer-btn {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0;
                background-color: transparent;
                color: $clr2;
                height: 32px;
                border-radius: 2px;
                /* line-height: 24px; */
                font-family: $font-txt;
                
                &:hover {
                 background-color: $primary-background-hover-color;  
                }

                & > svg {
                    margin-inline-end: 0.5em;
                }
            }
        }





    }

        // .items-container {
        //     all: unset;
        //     display: grid;
        //     grid-template-rows: repeat(auto-fill , 200px);
        //     width: 20px; 
        // }


}















// .dynamic-cmp-list-items{
//     position: fixed;
    
    
//     .items-container{
//         all: unset;
//         display: grid;
//         grid-template-rows: repeat(auto-fill , 200px);
//         width: 20px; 
//     }

//     .item{
         
//     }


// }