.dynamic-cmp-list-items{
    background-color: aqua;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    


    .selected-item{
        align-items: center;
        justify-content: center;
        h1{
            
        }
    }
    .items-container{
        background-color: aqua;
    }

    .item{
        background-color: aqua;
    }


}