.task-preview {
    list-style: none;
    padding-left: 0em;

    display: grid;
    grid-template-columns: 350px repeat(auto-fill, minmax(150px, 1fr));
    text-align: center;
    color: #2B2C32;
    border-block-end: 1px solid #e2e2e2;
    height: 35px;
    padding: 0;
    border-inline-start: 6px solid rgb(162, 93, 220);
    font-family: roboto;
    border-end-start-radius: 2px;
    
    




    > * {
        border-inline-end: 1px solid #e2e2e2;
        font-size: 0.9em;
        font-weight: 400;
        margin: 0;
        align-self: center;
        height: 100%;
        line-height: 2;
    }

    .task-header {
        display: grid;
        grid-template-columns: 30px auto 70px;

        .delete-btn {
            margin-inline-start: -37px;
            width: 23px;
            background: none; 
            
        }
        .task-txt {
            border-inline-end: 1px solid #e2e2e2;
            font-size: 0.9em;
            font-weight: 400;
            margin: 0;
            align-self: center;
            text-align: left;
            // padding-inline-start: 1em;
            height: 100%;
        }

        .addMessage-icon {
            color: $clr6;
            display: flex;
            justify-content: center;
            align-items: center;

            & svg:hover {
                color: $clr12;
            }
        }


    }

    &:hover {
        z-index: 100;
        box-shadow: 4px 3px 6px -3px #d0d4e4;
        background-color: #F4F5F8;


        .delete-btn {
            background-color: #D0D4E4;
        }
    }


    .tasks-header {
        //  background-color: rgb(241, 249, 240);
        // grid-template-rows: 1fr repeat(2, 2rem);
        // grid-template-columns: auto 1fr;
        display: grid;
        grid-template-columns: 350px repeat(auto-fill, minmax(150px, 1fr));
        text-align: center;
        color: #2B2C32;
        border-block-start: 1px solid #e2e2e2;
    border-block-end: 1px solid #e2e2e2;
    height: 35px;
    padding: 0;
        // align-content: center;
        // align-items: center;
        border-inline-start: 6px solid rgb(162, 93, 220);
        border-start-start-radius: 6px;
        > * {
            border-inline-end: 1px solid #e2e2e2;
            font-size: 0.9em;
            font-weight: 400;
            margin: 0;
            align-self: center;

        }
        


        // #9E57DB

        // .tasks-header-base {
        //     background-color: rgb(255, 0, 55);
        //     // display: grid;
        //     // grid-template-columns: 20px auto;

        // }
        
        

        // .div3{
        //     background-color: rgb(122, 107, 64);
        // }
    }


}

