
.timeline{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;

    .time-line-btn {
        all: unset;
        display: flex; 
        flex-wrap: nowrap;
        align-items: center;
        border-radius: 20px;
        cursor: pointer;
        width: 80%;
        height: 60%;
        border: none;
        outline: none;
        margin: 0;
        padding: 0;
        position: relative;
        text-overflow: ellipsis;
        overflow: hidden;
        text-align: center;
        white-space: nowrap;
        
        .time-for-task {
          margin: 0;
          padding: 0;
          font-size: 10pt;
          // z-index: 1;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          color: white;
        }

        .background-color-past,
        .background-color-future {
          height: 100%;
          transition: width 0.3s ease;
        }
    
        .background-color-past {
          border-radius: 20px 0 0 20px; 
        }
    
        .background-color-future {
          border-radius: 0 20px 20px 0; 
        }
      }

      .calender-model{
        z-index: 1;
        background-color: $primary-background-color;
        list-style: none;
        width: fit-content;
        bottom: 70%;
        border-radius: 8px;
        box-shadow: 0 8px 16px 0 #00000052;
        font-size: 14px;
        pointer-events: all;
        padding: 8px;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
      }
      

}

  