.main-board{
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows:auto 1fr;
    background-color: $clr3;

    .main-board-header{
        grid-area: 1 / 1 / 1 / 3;
    }

    .side-nav{
        grid-area: 2 / 1 / 2 / 2;

    }
    
    .boards-index{
        grid-area: 2 / 2 / 2 / 3;
    }
    
}

