
.board-details{
    margin: 0;
    padding: 0;
   
    .board-details-main {
        display: grid;
        margin: 0; 
        position: relative;

        .style-mrg{
            z-index: 4;
            background-color: white;
        }

        .sticky-board-header{
            position: sticky;
            top: 0;
            z-index: 4;
        }

        .new-group-btn {
            margin: 0;
            border: 1px solid #C5C8D5;
            background-color: transparent;
            color: $clr8;
            font-family: $font-txt;
            font-size: 14px;
            border-radius: $border-radius;
            padding: 0.2em 0.5em;
            display: flex;
            align-items: center;
            justify-items: center;
            width: fit-content;
            text-align: center;
            margin-inline-start: 2.5em;
    
            &:hover {
                background-color: $clr17;
            }
    
            svg {
                // margin-inline-end: 0.5em;
                margin: 0.20em;
                padding: 0;
            }
        }
    }

}




