.board-index{
    display: grid;
    grid-template-columns: 253px 10px 1fr;
    grid-template-rows:auto 1fr;
    grid-template-areas:
        "h h h"
        "sn l m"
        "sn l m";
    background-color: $clr3;

    .header {
        grid-area: h;
        width: 100%; 
    }

    .side-nav {
        grid-area: sn; 
        background-color: $clr10;
        border-radius: 0 10px 0 0;
        // height: 100%;
    }

    .line{
        grid-area: l;
        height: 180%;
        background-color: $clr3;
    }

    .board-main {
        grid-area: m; 
        background-color: #ffffff;
        border-start-start-radius: 10px;
        // height: 100vh;
        // width: 90vw;
        overflow-y: scroll; 
        height: 95vh;
        top: 0;

        .isLoading{
            display: grid;
            place-items: center;
            height: 100vh;
            img{
                width: fit-content;
            }
        }
    }
 
}




