// Colors
$clr1: #0073ea; // buttons color
$clr2: #323338; //text color
$clr3: #ECEFF8; //background color
$clr4: #95adbe;
$clr5: #dff0ea;
$clr6: #676879; // icons
$clr7: #DCDFEC; //on hover above links & buttons
$clr8: #38393E; // regular text (not h1..)
$clr9: #0060b9; //hover buttons
$clr10: #ffffff; //For white background
$clr11: #d0d4e4; //table border and btn border
$clr12: #F5F6F8; //hover on table
$clr13: rgb(162, 93, 220);
$clr14: #cce5ff; //sidenav - selected
$clr15: #dcdfec;//sidenav - hover
$clr16:  rgb(50, 51, 56);
$clr1WithAlpha: rgba($clr1, 0.2);
$clr17:  #F0F0F1; // hover links 2
$clr18: #676879; // placeholder and secondary text color
// $clr19: #676879; // border status cmp 2

$primary-background-color: #ffffff;
$primary-background-hover-color: rgba(103, 104, 121, 0.1);



// --pulse-background-color-rgb: 245, 246, 248;



//Fonts
// $font-txt: Figtree, Poppins, Roboto, Noto Sans Hebrew, Noto Kufi Arabic, Noto Sans JP, sans-serif;
// $font-title: Poppins, Figtree, Roboto, Noto Sans Hebrew, Noto Kufi Arabic, Noto Sans JP, sans-serif;
$font-title: 'Poppins';
$font-txt: 'Figtree';
// $font-txt: Figtree;

// $border-radius: 0.3em;
$border-radius: 5px;

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;