// Colors
$clr1: #0073EA; // buttons color
$clr2: #222;
$clr3: #ECEFF8; //background color
$clr4: #95adbe;
$clr5: #dff0ea;
$clr6: #676879; // icons
$clr7: #DCDFEC; //on hover above links & buttons
$clr8: #38393E; // regular text (not h1..)
$clr9: #0360B9; //hover buttons
$clr10: #ffffff; //For white background


// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;